<div class="sidenav">
  <div class="welcome">
    <img class="profile-photo" src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/13659049_2067044373520121_6506643492411430900_n.jpg?oh=2156b750c3cb6771a75bf4c0616859b0&oe=596EEB87" alt="">
    <p><span>Bienvenido,</span> Joel de Leon</p>
    <p><small>Admin</small></p>
  </div>
  <div class="menu">
    <ul class="menu-list">
      <a routerLink="/dashboard" routerLinkActive="active" class="menu-item"><md-icon>dashboard</md-icon>Dashboard</a>
      <a routerLink="/almacen" routerLinkActive="active" class="menu-item"><md-icon>cloud</md-icon>Almacen</a>
      <!-- <a routerLink="/clientes" routerLinkActive="active" class="menu-item"><md-icon>person</md-icon>Clientes</a> -->
      <a routerLink="/registro" routerLinkActive="active" class="menu-item"><md-icon>content_paste</md-icon>Registros</a>
      <a routerLink="/nueva_entrada" routerLinkActive="active" class="menu-item"><md-icon>add_to_queue</md-icon>Nuevo</a>
      <a routerLink="/login" class="menu-item"><md-icon>exit_to_app</md-icon>Salir</a>
    </ul>
  </div>
</div>
