<div class="section-indicator">
  <p class="title">Inventario</p>
  <p><small>Entradas</small></p>
</div>
<div class="card">
  <p class="card-title">
    Entrada de Material/Productos
  </p>
  <form #form="ngForm" ngSubmit="submit()">
    <!-- <div>
      <label for="">First Name</label>
      <input type="text">
    </div>
    <div>
      <label for="">Last Name</label>
      <input type="text">
    </div> -->
    <div class="inputs">
      <div class="input-container">
        <input type="text" name="Username" mdInput placeholder="Turno">
      </div>
      <table >
        <tr style="color:gray">
          <td>No</td>
          <td>Cantidad</td>
          <td>No. Molde</td>
          <td>Descripción</td>
          <td>Máquina</td>
        </tr>

        <tr class="thin-tr" *ngFor='let s of array' style="height: 70px !important;">
          <td style="width:5%;">{{s}}</td>
          <td style="width:15%;">
            <div >
              <input type="number" mdInput >
            </div>
          </td>
          <td style="width:5%;">
            <select class="styled-select rounded">
              <option value="">Flecha XL No. 1</option>
              <option value="">Flecha XL No. 2</option>
              <option value="">Corona L No. 5</option>
              <option value="">Satélites L No. 3</option>
            </select>
          </td>
          <td style="width:50%;">
            <div>
              <input type="text" mdInput >
            </div>
          </td>
          <td style="width:5%;">
            <select class="styled-select rounded">
              <option value="">Molde F1</option>
              <option value="">Molde F2</option>
              <option value="">Molde F3</option>
            </select>
          </td>
        </tr>

      </table>
      <div>
        <button (click)="add()" class="btn plus"><div>Añadir <md-icon>add</md-icon></div></button>
        <button (click)="remove()" class="btn plus"><div>Quitar <md-icon>clear</md-icon></div></button>
      </div>
      <div class="input-container-big" style="background-color:white;">
        <input type="text" mdInput placeholder="Comentarios">
      </div>
    </div>

    <div>
      <button class="btn login"><div>Submit <md-icon>done</md-icon></div></button>
    </div>
  </form>
</div>
