<div class="section-indicator">
  <p class="title">Registro</p>
  <p><small>Entrada de Productos</small></p>
</div>
<div class="card" *ngFor="let s of inventoryData">
  <div>
    <div class="card-title">
      <p align="right"><small>{{s.created_at}}</small></p>
      <p> {{s.id}} </p>
    </div>

    <tr>
      <table>
        <tr>
          <td>Cantidad</td>
          <td>No. Molde</td>
          <td>Descripción</td>
          <td>Máquina</td>
        </tr>
        <tr *ngFor="let e of s.entry">
          <td>{{e.quantity}}</td>
          <td>{{e.item.name}}</td>
          <td>{{e.description}}</td>
          <td>{{e.machine.name}}</td>
        </tr>
      </table>
    </tr>

  </div>
  <div style="color:gray;font-size:13px;">
    <p>{{s.turn}}</p>
    {{s.comment}}
  </div>
</div>
