<div class="left-container">
  <div class="inner-container">
    <div class="brand">Stockpile</div>
    <div class="content">
      <p class="phrase">Una herramienta en la nube ideal para supervisar la organización de tu negocio.</p>
    </div>
  </div>
</div>
<div class="right-container">
    <form class="login-form">
      <div class="header">
        <div class="brand"><small>Stockpile</small></div>
        <p class="caption">Ingresa usando tus credenciales.</p>
      </div>
      <div class="inputs">
        <div class="input-container">
          <input type="text" name="Username" mdInput placeholder="Usuario">
        </div>
        <div class="input-container">
          <input type="password" name="Password" mdInput placeholder="Contraseña">
        </div>
        <div class="forgot">
          <a><p>¿Olvidaste tu contraseña? Haz click aqui.</p></a>
        </div>
      </div>
      <button class="btn login" routerLink="/"><div>Ingresa <md-icon>arrow_forward</md-icon></div></button>
    </form>
</div>
