<div class="section-indicator">
  <p class="title">Dashboard</p>
  <p><small>Resumen de actividades</small></p>
</div>
  <div class="card row third">
    <p class="card-title">
      Actividad Reciente
    </p>
    <span style="color:gray;">No hay actividad</span><br>
    <span style="color:gray;">reciente</span>
    <br>
    <!-- <p>Items nuevos</p> -->
  </div>
  <div class="card row third">
    <p class="card-title">
      Articulos de Entrada
    </p>
    <span style="color:gray;">4</span>
    <p>Items nuevos</p>
  </div>
  <div class="card row third">
    <p class="card-title">
      Articulos de Salida
    </p>
    <span style="color:gray;">1</span>
    <p>Item nuevo</p>
  </div>
